<p id="notice"><%= notice %></p>

<h1>Mascotas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Fecha Cumpleaños</th>
      <th>Visitas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.race %></td>
        <td><%= pet.birthdate %></td>
        <td><%= pet.history_count%></td>
        <td><%= link_to 'Ver', pet %></td>
        <td><%= link_to 'Editar', edit_pet_path(pet) %></td>
        <td><%= link_to 'Eliminar', pet, method: :delete, data: { confirm: "\nVa a eliminar a:  #{pet.name}\n\n¿Está seguro?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Mascota', new_pet_path, class: "btn btn-success" %> <br><br>